@media screen and (max-width: 1439px) and (min-width: 760px) {

    /* 공통 스타일 */
    :root {
        /* font-size */
        --font-size-main-large: 45px;
        --font-size-title-large: 38px;
        --font-size-large: 30px;
        --font-size-mid: 25px;
        --font-size-regular: 20px;
        --font-size-small: 18px;
        --font-size-micro: 16px;
    }

    /* 공통영역 */
    #wrap {
        width: 100%;
        margin: 0 auto;
    }

    .sec__container {
        width:
            /* 1200px; */
            95%;
        height: 100%;
        margin: 0 auto;
    }

    /* header 시작 */
    header {
        width: 100%;
        /* height: 220px; */
        height: 120px;
        margin: 0 auto;
        transition: background-color 300ms ease-in;
        background-color: var(--color-white);
        /* background-color: lightcoral; */
    }

    .header__top-menu,
    .header__bottom-menu {
        display: none;
    }

    .header__mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 120px;
    }

    .mobile__top-menu {
        display: none;
        justify-content: center;
        margin-right: 120px;
    }

    .mobile__top-menu li {
        padding: 0 20px;
        text-align: center;
    }

    #mobile__toggle {
        margin: 0 20px 0 30px;
    }

    #mobile__close {
        position: absolute;
        top: 35px;
        right: 20px;
        display: none;
    }

    .mobile__bottom-menu {
        position: absolute;
        top: 120px;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 500px;
        background-color: var(--color-white);
        display: none;
    }

    .mobile__menu {
        width: 95%;
        height: 400px;
        margin: 0 auto;
        /* background-color: tan; */
    }

    .mobile__menu > li {
        line-height: 100px;
        text-align: center;
        font-size: var(--font-size-mid);
        border-bottom: 1px solid var(--color-green-grey);
    }

    .mobile__menu-small {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 100px;
        margin: 0 auto;
        /* background-color: lightblue; */
    }

    .mobile__menu-small > li {
        padding-right: 100px;
        font-size: var(--font-size-regular);
    }

    .mobile__menu-small > li:last-child {
        padding-right: 0;
    }

    .mo-small-item:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        margin-left: 50px;
        background-color: var(--color-green-grey);
    }

    /* section1: main */
    #main {
        width: 100%;
        height:
            /*970px;*/
            100%;
        /* overflow: hidden; */
    }

    .main__mask,
    .main__circles,
    .main__circles__imgs {
        display: none;
    }

    .main__mobile,
    .main-swiper-container {
        width: 100%;
        height: 970px;
    }

    .main-swiper-container > .swiper-wrapper {
        height: 100%;
    }

    .main-swiper-wrapper > .swiper-slide {
        width: 100%;
        height: 100%;
    }

    .swiper-container.main-swiper-container > .swiper-pagination {
        bottom: 30px;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }

    #main__first {
        left: 0;
    }

    .slide__item {
        /* position: absolute;
      top: 0;
      left: 
      -1920px; */
        width: 100%;
        height: 970px;
        transition: opacity 1s ease-out;
        background-color: var(--color-dark-pink);
    }

    .main__first {
        background: url(../img/main-background1.jpg) no-repeat 50% 100% / cover;
    }

    .main__second {
        background: url(../img/main-background2.jpg) no-repeat 35% 100% / cover;
    }

    .main__third {
        background: url(../img/main-background3.jpg) no-repeat 35% 100% / cover;
    }

    .main__fourth {
        background: url(../img/main-background4.jpg) no-repeat 25% 100% / cover;
    }

    /* main image position */
    @keyframes moving_imgs {
        0% {
            bottom: 100px;
        }

        50% {
            bottom: 90px;
        }

        100% {
            bottom: 100px;
        }
    }

    .main__img__po {
        position: absolute;
        bottom: 100px;
        right: 30px;
        animation: moving_imgs 2s infinite forwards ease-in-out;
    }

    /*main text*/
    .main__text {
        position: relative;
        top: 50%;
        /* margin-top: -200px; */
        margin-top: -150px;
        left:
            /* 100px; 70px; */
            40px;
        width: 500px;
        height: 400px;
        color: var(--color-white);
        /* background-color: lightsalmon; */
    }

    .main__text-line {
        font-weight: var(--font-bold);
        margin: 25px 0 15px 0;
    }

    .main__text-desc {
        line-height: 28px;
        font-size: var(--font-size-small);
        color: var(--color-white);
    }

    .main__text-btn {
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: var(--font-size-small);
        color: var(--color-white);
        background-color: var(--color-orange);
    }

    /* section2 : 베이비밀 바른원칙 */
    #rules {
        position: relative;
        width: 100%;
        height: 980px;
        background-color: var(--color-green-grey);
    }

    .rules__container {
        width: 100%;
        height: 800px;
        /* background-color: lightgray; */
    }

    .rules__left,
    .rules__right {
        display: none;
    }

    /* rules swiper css */
    .rules-swiper-wrapper,
    .rules-swiper-container,
    .rules-swiper-container > .swiper-wrapper {
        height: 100%;
    }

    .swiper-wrapper.rules-swiper-wrapper > .rule-swiper-slide {
        top: 60px;
    }

    .swiper-container.rules-swiper-container > .swiper-pagination {
        top: 50px;
    }

    .rules-swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        width: 130px;
        height: 40px;
        border-radius: 10px;
        padding: 5px 0;
        margin: 5px;
        font-weight: var(--font-regular);
        color: var(--color-dark-green);
        border: 1px solid var(--color-dark-green);
    }

    .rules-swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        font-weight: var(--font-bold);
        color: var(--color-white);
        border: 1px solid var(--color-orange);
        background-color: var(--color-orange);
    }

    .m-rule__img-desc {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        /* background-color: aliceblue; */
    }

    .m-img-desc__img {
        text-align: center;
        padding: 60px 0 0 0;
    }

    .m-img-desc__text-box {
        margin-top: 30px;
        text-align: center;
    }

    .m-img-desc__title {
        margin-bottom: 10px;
        color: var(--color-dark-green);
        font-weight: var(--font-bold);
    }

    .m-img-desc__sub {
        line-height: 25px;
    }

    /* section3 : 베이비밀 event & service */
    #event {
        width: 100%;
        height: 850px;
    }

    /* event swiper css */
    .event-swiper-container {
        top: -78%;
        height: 600px;
        padding: 10px 0;
    }

    .event-swiper-container > .swiper-wrapper {
        height: 500px;
    }

    .event-swiper-wrapper > .swiper-slide {
        height: 500px;
        background-color: var(--color-green-grey);
    }

    .event-swiper-slide img {
        width: 100%;
        height: 320px;
    }

    .event__text-box {
        padding: 10px 15px;
    }

    .event__title {
        margin-bottom: 10px;
        color: var(--color-dark-green);
        font-weight: var(--font-bold);
    }

    .event__desc {
        line-height: 23px;
    }

    /* section4: 베이비밀 shop시작 */
    #shop {
        width: 100%;
        height: 970px;
        background-color: var(--color-green-grey);
    }

    .shop__container {
        /* display: flex; */
        width:
            /* 1200px; */
            100%;
        height: 800px;
        /* background-color: lightpink; */
    }

    .shop__left,
    .shop__right {
        display: none;
    }

    /*shop box*/
    .mobile__shop__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 30px;
        /* background-color: lightblue; */
    }

    .mobile__shop-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 700px;
        height: 160px;
        margin: 15px auto;
        padding: 10px 0;
        border-radius: 20px;
        text-align: center;
        background-color: var(--color-white);
    }

    .shop-box--open {
        width: 700px;
        height: 100%;
        background-color: var(--color-light-pink);
    }

    .shop__plus-btn,
    .shop__minus-btn {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        /* background-color: lightcoral; */
    }

    .shop__minus-btn {
        display: none;
    }

    .btn--invisible {
        display: none;
    }

    .shop__title-text-box {
        width: 100%;
        height: auto;
        color: var(--color-dark-green);
        /* background-color: #00000090; */
    }

    .shop__title {
        font-size: var(--font-size-large);
        font-weight: var(--font-bold);
        color: var(--color-dark-green);
    }

    .shop__img-desc-box {
        display: none;
        align-items: center;
        margin-top: 30px;
    }

    .shop__img-desc--visible {
        display: flex;
    }

    .shop__img img {
        width: 300px;
        height: 200px;
        border-radius: 0 20px 20px 0;
    }

    .shop__desc-box {
        width: 100%;
        height: auto;
        text-align: start;
        margin-left: 50px;
        font-size: var(--font-size-regular);
        /* background-color: lightsalmon; */
    }

    .shop__desc {
        line-height: 28px;
        font-size: var(--font-size-small);
        margin-bottom: 20px;
    }

    .shop__btn,
    .shop__first-btn {
        padding: 5px 8px;
        border-radius: 10px;
        font-size: var(--font-size-micro);
        color: var(--color-white);
        background-color: var(--color-orange);
    }

    .shop__first-btn {
        margin-top: 15px;
    }

    /* footer */
    footer {
        width: 100%;
        height: 100%;
        margin-top: 100px;
        padding: 20px;
        color: var(--color-light-grey);
        background-color: var(--color-green-grey);
    }

    /* footer left side */
    .footer__left {
        width: 100%;
        height: 100%;
        /* background-color: thistle; */
    }

    .footer__menu {
        position: relative;
        display: flex;
        /* justify-content: space-between; */
        width: auto;
        height: auto;
        margin-bottom: 30px;
        /* background-color: wheat; */
    }

    .footer__item:after {
        content: "";
        position: absolute;
        top: 5px;
        width: 1px;
        height: 16px;
        margin-left: -25px;
        background-color: var(--color-light-grey);
    }

    .footer__menu li a {
        margin-right: 50px;
        color: var(--color-light-grey);
    }

    .footer__desc {
        line-height: 28px;
        margin-bottom: 30px;
    }

    .mo-footer__desc {
        display: none;
    }

    /* footer right side */
    .footer__right {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        /* background-color: lightsteelblue; */
    }

    .footer__right select {
        padding: 5px;
        border: none;
        outline: none;
        color: var(--color-light-grey);
    }

    /* fixed btn - top btn*/
    #fixed-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 1;
        cursor: pointer;
    }

    #top-btn {
        width: 35px;
        height: 120px;
        margin-bottom: 10px;
    }

    #top-btn p {
        text-align: center;
        font-weight: var(--font-bold);
        color: var(--color-dark-green);
    }

    /* fixed btn - event pop-up */
    #event-btn {
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 2px;
        background-color: var(--color-dark-green);
    }

    .event-popup {
        /* display: none; */
        visibility: hidden;
        opacity: 0;
        width: 293px;
        height: 450px;
        position: absolute;
        bottom: 0;
        right: -293px;
        border-radius: 20px 0 0 20px;
        background-color: var(--color-white);
    }

    #popup__close-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 17px;
        height: 17px;
    }

    .popup__text-box {
        transform: translateY(-140px);
        color: var(--color-white);
    }

    .popup__title {
        font-size: var(--font-size-regular);
    }

    .popup__title-btn {
        margin-top: 10px;
        padding: 6px;
        border-radius: 10px;
        color: var(--color-white);
        background-color: var(--color-orange);
    }

    .popup__menu {
        transform: translateY(-70px);
        padding: 0 40px;
        text-align: start;
        /* background-color: tan; */
    }

    .popup__menu li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .popup__menu li img {
        margin-right: 20px;
    }
}

/* end */
